@font-face {
    font-family: "Audiowide";
    src: local("Audiowide"),
     url("../../../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    font-weight: bold;
}


.main{
    height: 90px;
    background: black;
    overflow: hidden;

}

.main__animation{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    animation: text 5s infinite linear;
}


.main__text{
    height: 88px;
    width: 400px;
    
    color: white;
    margin: auto 200px auto 0;

    font-family: 'Audiowide';
    font-style: normal;
    font-size: 79px;
    

    text-transform: uppercase;
}


@keyframes text {
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-600px);
  }
}