@font-face {
    font-family: "DMMono-Regular";
    src: local("DMMono-Regular"),
     url("../../fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Audiowide";
    src: local("Audiowide"),
     url("../../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url("../../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: bold;
}


.colection{
    display: grid;
    grid-template-columns: auto auto;
    background: black;

    
}

.colection__example {
    margin: 115px 0 0 40px ;
    color: white;
}

.colection__example h1{
    font-family: "Audiowide";
    font-size: 36px;
    /* width: 230px; */

    margin: 0 0 0 80px;
}

.colection__example h1 ~ h1{
    color: #A8A8A8;
    width: 350px;
}

.colection__example img{
    margin: 50px 0 0 0;
    height: 360px;
    width: 360px;
}

/* ------------ */

.colection__text{
    margin: 115px 240px 0 0 ;
    margin-left: 150px;

    color: white;
    font-family: "Inter";
    font-size: 15px;
}

.colection__text__btn{
    
    font-family: "DMMono-Regular";
    font-size: 16px;

    padding: 13px;
    margin-top: 20px;

    color: white;
    background: black;
    border: 1px solid #8DFD1B;
}

.colection__text__btn:hover{
    color: rgb(210, 210, 210);
    border: 1px solid #7fe717;

    text-decoration: underline ;
}

.colection__text__btn:active{
    color: rgb(141, 141, 141);
    border: 1px solid #5ba411;
    
}

.colection__text__info{
    font-family: 'DMMono-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;

}

.colection__text__info p{
    margin-left: 20px;
    color: #8DFD1B;
}

.colection__text__info__line{
    position: absolute;
    height: 124px;
    width: 2px;

    background: #8DFD1B;
}