@font-face {
    font-family: "DM Mono";
    src: local("DMMono-Regular"),
     url("../../fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Audiowide";
    src: local("Audiowide"),
     url("../../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url("../../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: bold;
}

.conteiner{
    display: flex;
    margin-top: 120px;
    margin-bottom: 240px;
}

.card{
    display: flex;
    flex-flow: column;
    width: 320px;

    margin: 0 auto;
}

.card__img img{
    width: 320px;
    height: 320px;
    background: white;
}
.card__name{
    margin: 18px 0 22px;

    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;

    /* identical to box height, or 132% */
    text-align: center;
    text-transform: uppercase;
}
.card__job{
    margin: 18px 0 22px;
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;

    /* identical to box height, or 109% */
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #8DFD1B;
}
.card__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 36px;
}

.card__links a{
    text-decoration: none;
    margin: 0 6px;
}
.card__links img{
    width: 36px;
    height: 36px;
}


.card__texts{

    padding: 0 40px 0 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    /* or 160% */
    text-align: center;

    color: #FFFFFF;
}