@font-face {
    font-family: "DMMono-Regular";
    src: local("DMMono-Regular"),
     url("../../fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Audiowide";
    src: local("Audiowide"),
     url("../../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url("../../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-weight: bold;
}


.container{
    color: white;
}

.container__title{
    display: flex;
    justify-content: center;

    margin-top: 120px;

    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
}
.container__title div{
    color: #A8A8A8;
}

.container__grid{
    margin-top: 60px;
    margin-left: 40px;


    display: grid;

    grid-template-columns: 280px 870px;
}

.container__grid__input{
    display: grid;
    grid-template-rows:72px 72px 72px;
}

.container__grid__input button{
    color: white;
    background: black;
    border: none;
}

.container__grid__input button:hover{
    color: white;
    background: #1a1a1a;
}

.btn__on{
    color: #8DFD1B !important;
    background: #222222 !important;
}


.container__grid__info{
    height: 420px;
    padding: 60px;

    background: #222222;
    border-radius: 0px;
    overflow-x: auto;
}

.info{
    display: grid;
    grid-template-columns: 170px 550px;
    column-gap: 40px;
    row-gap: 40px;
}

.info img{
    width: 170px;
    height: 250px;
    background: white;
}

.info__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
}

.info__text__node{
    padding-left: 20px;
    margin-bottom: 32px;

    font-family: "DMMono-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;

    border-left: 2px solid #8DFD1B ;
    color: #8DFD1B;
}
