@font-face {
    font-family: "DMMono-Regular";
    src: local("DMMono-Regular"),
     url("../../fonts/DM_Mono/DMMono-Regular.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Audiowide";
    src: local("Audiowide"),
     url("../../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    font-weight: bold;
}


.lable{
    /* width: 100%; */

    display: grid;
    grid-template-columns: auto auto;

    padding-left: 76px;

    background-color: black;
    color: white;

    
}

.lable__img{
    width: 870px;
    height: 653px;
}

.lable__text{
    font-family: 'DMMono-Regular';
    width: 340px;
    margin-top: 130px;
}

.lable__text h1{
    margin: 130px 0 40px 0;
    font-family: "Audiowide";
}

.lable__btn{
    margin-top: 100px;
    padding: 32px 40px 11px 40px ;
    width: 200px;
    height: 60px;
    border: none;
    background: #8DFD1B;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.lable__btn:hover{
    background: #7ce018;
}

.lable__btn:active{
    background: #5aa211;
    color: white;
}