@font-face {
    font-family: "Audiowide";
    src: local("Audiowide"),
     url("../../../fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
    font-weight: bold;
}


.main{
    background: black;
    overflow: hidden;


}

.main__animation{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    animation: text 3s infinite linear;
}


.main__text{
    width: 400px;
    
    color: white;
    margin: 60px 100px auto 0;

    font-family: 'Audiowide';
    font-style: normal;
    font-size: 30px;
    

    text-transform: uppercase;
}


@keyframes text {
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-500px);
  }
}