*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  margin: 0;
  font-family: 'DM Mono', monospace;
  background-color: rgb(36, 36, 36);
    
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

address{
  word-wrap: normal;
}